@using LMS.Entities;
@using System.Collections.Generic;
@model TaskInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> result = new List<string>();
    int number = Model.CurrentQuestionNumber;
    int kolvo = Model.TaskCount;
    int counter = 0;
    string[] res=Model.Result;
}
<div class="well">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Functions.js"></script>
    <script>
        $(function () {

            var stringArray = @Html.Raw(Json.Serialize(Model.Result));
            alert(stringArray);
            DeserializeForm("check", stringArray);
        });
        
    </script>
    @using (@Html.BeginForm("Navigate", "Home"))
    {
        @Html.Hidden("mode", "")
        @Html.Hidden("number", number);
        @Html.Hidden("got", 1);
        <h3>
            <strong>Вопрос№ @(number + 1)</strong><br />
            <strong>@Model.OurTask.Content</strong>
        </h3>
        @foreach (var choice in Model.OurTask.Choices)
        {
            counter++;
            <input type="checkbox" name="result" value="@choice.Id" id="@choice.Id">
            <span>@choice.Answer</span>
            <br />
        }
        if (number > 0)
        {
            <button class="btn btn-primary" onclick="changeMode('prev')">Previous</button> }
        <button class="btn btn-primary" onclick="changeMode('res')"> OK</button>
        if (number < kolvo - 1)
        {<button class="btn btn-primary" onclick="changeMode('next')"> Next</button>}
        <br />
        for (int i = 0; i < kolvo; i++)
        {
            <button onclick="changeGot('@i')"> @(i + 1)</button>
        }
    }
    <script>
        $(":checkbox").click(showValues);
        showValues();
    </script>
</div>