@using LMS.Data.Models;
@using System.Collections.Generic;
@model TestProblem
@*@Html.DropDownList("Organization", @Model.Choices,
    new { @class = "form-control", id = "orglist", onchange = "changed(this.value)"})*@
@{
    ViewBag.Title = "ShowProblem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> result = new List<string>();
    int number = ViewBag.Index;
    int kolvo = ViewBag.Kolvo;
}
<div class="well" @*style="text-align-last:center" *@>
    <script src="~/js/Functions.js"></script>
    @using (@Html.BeginForm("Navigate", "Home"))
    {
        @Html.Hidden("number", number);
        @Html.Hidden("mode", "");
        @Html.Hidden("got", 0);
        <h3>
            <strong>Вопрос№ @(ViewBag.Index + 1)</strong><br />
            <strong>@Model.Content</strong>
        </h3>
        @foreach (var choice in Model.Choices)
        {
            @Html.CheckBox("result", @choice.Answer)
            <span>@choice.Answer</span>
            <br />
        }
        if (number > 0)
        {
            <button class="btn btn-primary" onclick="changeMode('prev')">Previous</button> }
        <button class="btn btn-primary" onclick="changeMode('res')"> OK</button>
        if (number < kolvo - 1)
        {<button class="btn btn-primary" onclick="changeMode('next')"> Next</button>}
        <br />
        for (int i = 0; i < kolvo; i++)
        {
            <button onclick="changeGot('@i')"> @(i + 1)</button>
        }
    }
</div>