@using LMS.Dto;
@using System.Collections.Generic;
@model TaskInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> result =new List<string>();
    int number = Model.CurrentQuestionNumber;
    int kolvo = Model.TaskCount;
    //string res = Model.Result[0];
}
<div class="well">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Functions.js"></script>
    <script src="~/js/SerializeControler.js"></script>
    @*<script>
            DeserializeFormFromSession("radio", "@number");
        </script>*@
    @using (@Html.BeginForm("Navigate", "Home"))
    {
        @Html.Hidden("mode", "")
        @Html.Hidden("number", number);
        @Html.Hidden("got", 1);
        <h3>
            <strong>Вопрос№ @(number + 1)</strong><br />
            <strong>@Model.OurTask.Content</strong>
        </h3>
        @foreach (var Task in Model.OurTask.AnswerOptions)
        {
            <input type="radio" name="result" value="@Task.Id" id="@Task.Id" onchange="changeRadio()">
            <span>@Task.Content</span>
            <br />
        }
        if (number > 0)
        {
            <button class="btn btn-primary" onclick="changeMode('prev')">Previous</button> }
        <button class="btn btn-primary" onclick="changeMode('res')"> OK</button>
        if (number < kolvo - 1)
        {<button class="btn btn-primary" onclick="changeMode('next')"> Next</button>}
        <br />
        for (int i = 0; i < kolvo; i++)
        {
            if (i == @number)
            {
                <button disabled onclick="changeGot('@i')"> @(i + 1)</button>
            }
            else
            {
                <button onclick="changeGot('@i')"> @(i + 1)</button>
            }
        }
    }
    <script>
        var res = DeserializeFormFromSession("radio", "@number");
        function changeRadio() {
            var rad = document.querySelectorAll('input[type=radio][name=result]');
            for (var i = 0, len = rad.length; i < len; i++) {
                if(rad[i].checked) StoreToSession("radio","@number",rad[i].value);
            }
        }
        StoreToSession("radio","@number",res);
    </script>
</div>