@using LMS.Data.Models;
@using System.Collections.Generic;
@model TestProblem
@*@Html.DropDownList("Organization", @Model.Choices,
    new { @class = "form-control", id = "orglist", onchange = "changed(this.value)"})*@
@{
    ViewBag.Title = "ShowProblem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> result = new List<string>();
    string mode="";
}
<div class="well" @*style="text-align-last:center" *@>
    @using (@Html.BeginForm("Navigate","Home"))
    {
    <h3>
        <strong>Вопрос№ @(ViewBag.Index + 1)</strong><br />
        <strong>@Model.Content</strong>
    </h3>
    @foreach (var choice in Model.Choices)
        {
    @Html.RadioButton("result", @choice.Answer)
    <span>@choice.Answer</span>
    <br />
        }
        int number = ViewBag.Index;
    @Html.Hidden("number", number);
    <button class="btn btn-primary" onclick="@Html.Hidden("mode", "Back")">Previous</button>
    <button class="btn btn-primary" onclick="@Html.Hidden("mode", "Result")"> OK</button>
    <button class="btn btn-primary" onclick="@Html.Hidden("mode", "Forward")"> Next</button>
    }
</div>