@model LMS.Dto.QuestionDTO

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl">
        <dt>
            <label asp-for="Complexity"></label>
        </dt>
        <dd>
            <label>@Model.Complexity</label>
        </dd>
        <dt>
            <label asp-for="Content"></label>
        </dt>
        <dd>
            <label>@Model.Content</label>
        </dd>
        <dt>
            <label asp-for="Type"></label>
        </dt>
        <dd>
            <label>@Model.Type.Title</label>
        </dd>
        <dt>
            <label asp-for="Category"></label>
        </dt>
        <dd>
            <label>@Model.Category.Title</label>
        </dd>
        <dt>
            <label asp-for="IsVisible"></label>
        </dt>
        <dd>
            <label>@Model.IsVisible</label>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
