@using LMS.Dto
@model IEnumerable<TestTemplateSummary>

@{
    ViewData["Title"] = "List";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categories)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvgComplexity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tasks)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label>@item.Title</label>
                        </td>
                        <td>
                            <label>@string.Join(",", item.Categories.Select(c => c.Title))</label>
                        </td>
                        <td>
                            <label>@($"{item.AvgComplexity:#.##}/{@TaskDTO.MaxComplexity}")</label>
                        </td>
                        <td>
                            <ol>
                                @foreach (var taskTemplate in item.Tasks)
                                {
                                    <li>
                                        @string.Join(",", taskTemplate.Types.Select(c => c.Title))
                                        -
                                        @taskTemplate.ValidTaskCount
                                        valid tasks
                                    </li>
                                }
                            </ol>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a href="#" data-toggle="modal" data-target="#deleteModal" data-arg-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <center>No items found</center>
}

@Html.Partial("Dialog", new DialogViewModel("deleteModal")
{
    Content = "Are you sure that you want to delete this template?",
    SubmitAction = "Delete",
    SubmitController = "Task"
})