@using LMS.Dto
@model TestSessionResultsDTO

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Test session results</h4>
    <hr />
    <div class="col-md-6">
        @Model.Title
        <br />
        @Model.StartTime
        <br />
        @Model.EndTime
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Examinee
                        </th>
                        <th>
                            Test title
                        </th>
                        <th>
                            Test duration
                        </th>
                        <th>
                            Score
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exameneeResult in Model.ExameneeResults)
                    {
                        <tr>
                            <th>
                                @exameneeResult.UserName
                            </th>
                            <th>
                                @exameneeResult.TestTitle
                            </th>
                            <th>
                                @exameneeResult.Duration
                            </th>
                            <th>
                                @exameneeResult.TotalScore
                            </th>
                            <th>
                                <a asp-action="ResultDetails" asp-route-sessionId="@Model.Id" asp-route-id="@exameneeResult.UserId">Edit</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
