@using LMS.Dto
@model TestSessionResultsDTO

@{
    ViewData["Title"] = "Test session";
    ViewData["Action"] = "Details";
    ViewData["Icon"] = "fa-info";
}

<div>
    <h4>Details</h4>
    <hr />
    <div class="col-md-10 col-lg-9">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="Title" class="font-weight-bold"></label>
                <br />
                @Model.Title
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="StartTime" class="font-weight-bold"></label>
                <br />
                @Model.StartTime.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                <br />
                <br />
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="EndTime" class="font-weight-bold"></label>
                <br />
                @Model.EndTime.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
                <br />
                <br />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Examinee
                        </th>
                        @if (Model.IsEnded)
                        {
                            <th>
                                Test title
                            </th>
                        }
                        @if (Model.IsActive)
                        {
                            <th>
                                Start time
                            </th>
                        }
                        <th>
                            Test duration
                        </th>
                        <th>
                            @if (Model.IsEnded)
                            {
                                @:Score
                            }
                            else if (Model.IsActive)
                            {
                                @:State
                            }
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exameneeResult in Model.ExameneeResults)
                    {
                        <tr class="examenee alert" id="examenee-@exameneeResult.UserId" data-session="@Model.Id">
                            <td>
                                @exameneeResult.UserName
                            </td>
                            @if (Model.IsEnded)
                            {
                                <td>
                                    @(exameneeResult.TestTitle ?? "None")
                                </td>
                            }
                            @if (Model.IsActive)
                            {
                                <td class="examenee-time">-</td>
                            }
                            <td>
                                @if (Model.IsEnded)
                                {
                                    @:@exameneeResult.Duration.ToString("hh\\:mm")
                                }
                                else
                                {
                                    <span class="examenee-duration">-</span>
                                }
                            </td>
                            <td>
                                @if (Model.IsEnded)
                                {
                                    @exameneeResult.TotalScore
                                }
                                else if (Model.IsActive)
                                {
                                    <span class="examenee-state">Not started</span>
                                }
                            </td>
                            <td>
                                @if (Model.IsEnded)
                                {
                                    <a asp-action="ResultDetails" asp-route-sessionId="@Model.Id" asp-route-id="@exameneeResult.UserId">Details</a>
                                }
                                else if (Model.IsActive)
                                {
                                    <a href="javascript:banUser(@Model.Id, '@exameneeResult.UserId')">Ban</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    @if ((!Model.IsActive && !Model.IsEnded)
        || User.IsInRole(LMS.Identity.Roles.Admin))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <br />
    }
    <a asp-action="List">Back to List</a>
</div>

@section Scripts{
    @if (Model.IsActive)
    {
        <script src="~/js/socket.min.js" asp-append-version="true"></script>
    }
}