@using LMS.Dto
@model IEnumerable<TestSessionDTO>

@{
    ViewData["Title"] = "Test session";
    ViewData["Action"] = "Calendar";
    ViewData["Icon"] = "fa-calendar";}

<div id='calendar' class="col-lg-8"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>

@section scripts
    {
    <script>
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $(function () {
                var calendar = $('#calendar').fullCalendar({
                    header: {
                        left: 'title',
                        center: 'month,listMonth',
                        right: 'prev,next today'
                    },
                    themeSystem: 'bootstrap4',
                    editable: false,
                    firstDay: 1, //  1(Monday)
                    selectable: false,
                    allDaySlot: true,
                    selectHelper: true,
                    eventClick: function (calEvent, jsEvent, view) {
                        location.href = (calEvent.start > new Date())
                            ? ('@Url.Action("Edit")/' + calEvent.id)
                            : ('@Url.Action("Details")/' + calEvent.id);
                    },
                    dayClick: function (date, jsEvent, view) {
                        location.href = buildUrlWithParam('@Url.Action("Create")', "startTime", date.toJSON());
                    },
                    droppable: false,
                    events: [
                        @foreach (var session in Model)
                        {
                            @:{
                            @:    id: @session.Id,
                            @:    title: "@Html.Raw(session.Title)",
                            @:    start: new Date(@session.StartTime.ToUnixTimeMilliseconds()),
                            @:    end: new Date(@session.EndTime.ToUnixTimeMilliseconds()),
                            @:    allDay: false,
                            @:    className: 'info'
                            @:},
                        }
                    ]
                })
            });
    </script>
}