@using LMS.Dto
@model IEnumerable<TestSessionDTO>

@{
    ViewData["Title"] = "List";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id='calendar'></div>

@section scripts
    {
    <script>
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $(function () {
                var calendar = $('#calendar').fullCalendar({
                    header: {
                        left: 'title',
                        center: 'agendaDay,agendaWeek,month',
                        right: 'prev,next today'
                    },
                    editable: false,
                    firstDay: 1, //  1(Monday)
                    selectable: true,
                    allDaySlot: true,
                    selectHelper: true,
                    eventClick: function (calEvent, jsEvent, view) {
                        location.href = '@Url.Action("Edit")/' + calEvent.id;
                    },
                    select: function (start, end, allDay) {
                        location.href = buildUrlWithParam('@Url.Action("Create")', "startTime", start.toJSON());
                    },
                    droppable: false,
                    events: [
                        @foreach (var session in Model)
                        {
                            @:{
                            @:    id: @session.Id,
                            @:    title: "@session.Title",
                            @:    start: new Date(@session.StartTime.ToUnixTimeMilliseconds()),
                            @:    end: new Date(@session.EndTime.ToUnixTimeMilliseconds()),
                            @:    allDay: false,
                            @:    className: 'info'
                            @:},
                        }
                    ]
                })
            });
    </script>
}