@using LMS.Dto
@using LMS.AnswerModels
@model ExameneeResultDTO

@{
    ViewData["Title"] = "Details";
    const int alphabetStart = (int)'a';
}

<div>
    <h4>Examenee result</h4>
    <hr />
    <div class="col-md-6">
        @Model.TestTitle
        <br />
        @Model.UserName
        <br />
        @Model.Duration
        <br />
        @Model.TotalScore
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Content
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var answer in Model.Answers)
                    {
                        <tr>
                            <td>
                                @answer.Task.Content
                                <br />
                                @switch (answer.Content)
                                {
                                    case OpenAnswer open:
                                        @: @open.Content
                                        break;
                                    case SingleAnswer single:
                                        var choosed = answer.Task.AnswerOptions.FirstOrDefault(a => single.AnswerOptionId == a.Id);
                                        var choosedIndex = answer.Task.AnswerOptions.IndexOf(choosed);
                                        @if (choosedIndex >= 0)
                                        {
                                            @: <div class="@(choosed.IsCorrect ? "correct" : ""))">
                                                @: @((char)(alphabetStart + choosedIndex)). @choosed.Content
                                            @: </div>
                                        }
                                        else
                                        {
                                            @: Invalid answer
                                        }
                                        break;
                                    default:
                                        @: Invalid answer
                                        break;
                                }
                            </td>
                            <td>
                                @answer.Score
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
