@using LMS.Dto
@model ExameneeResultDTO

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Examenee result</h4>
    <hr />
    <div class="col-md-6">
        @Model.TestTitle
        <br />
        @Model.UserName
        <br />
        @Model.Duration
        <br />
        @Model.TotalScore
        <br />
        <table>
            <thead>
                <tr>
                    <th>
                        Score
                    </th>
                    <th>
                        Content
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <th>
                            @answer.Content
                        </th>
                        <th>
                            @answer.Score
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
