@using LMS.Dto
@using LMS.AnswerModels
@model ExameneeResultDTO

@{
    ViewData["Title"] = "Details";
    const int alphabetStart = (int)'a';
}

<div>
    <h4>Examenee result</h4>
    <hr />
    <div class="col-md-6">
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="TestTitle" class="font-weight-bold"></label>
                <br />
                @Model.TestTitle
                <br />
                <br />
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="UserName" class="font-weight-bold"></label>
                <br />
                @Model.UserName
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="Duration" class="font-weight-bold"></label>
                <br />
                @Model.Duration.ToString("hh\\:mm")
                <br />
                <br />
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="TotalScore" class="font-weight-bold"></label>
                <br />
                @Model.TotalScore
                <br />
                <br />
            </div>
        </div>
        <h3>@Html.LabelFor(m => m.Answers)</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Score
                        </th>
                        <th>
                            Content
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var answer in Model.Answers)
                    {
                        <tr>
                            <td rowspan="2">
                                @answer.Score / @answer.Task.MaxScore
                            </td>
                            <td class="font-weight-bold">
                                @answer.Task.Content
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0">
                                @switch (answer.Content)
                                {
                                    case OpenAnswer open:
                                        <div class="p-3">
                                            @open.Content
                                        </div>
                                        break;
                                    case SingleAnswer single:
                                        var choosed = answer.Task.AnswerOptions.FirstOrDefault(a => single.AnswerOptionId == a.Id);
                                        var choosedIndex = answer.Task.AnswerOptions.IndexOf(choosed);
                                        if (choosedIndex >= 0)
                                        {
                                            <div class="alert @(choosed.IsCorrect ? "alert-success" : "alert-warning") m-0 rounded-0">
                                                @((char)(alphabetStart + choosedIndex)). @choosed.Content
                                            </div>
                                        }
                                        else
                                        {
                                            @: Invalid answer
                                        }
                                        break;
                                    default:
                                        @: Invalid answer
                                        break;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
