@using LMS.Dto;
@model IEnumerable<UserSummary>
@{
    ViewData["Title"] = "List";
    var roles = ((IEnumerable<SelectListItem>)ViewData["AllRoles"]);
}

@if (Model.Any())
{
    <div class="table-responsive">
        <table id="dataTable" class="table table-bordered" cellspacing="0" data-paging="@(Model.Count() > 10 ? "true" : "false")" data-column-defs='[{"searchable":false,"orderable":false,"targets":3}]'>
            <caption>
                <a asp-action="Register">Register new user</a>
            </caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label>@item.UserName</label>
                        </td>
                        <td>
                            <label>@item.Name</label>
                        </td>
                        <td>
                            <label>@item.Roles</label>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a href="#" data-toggle="modal" data-target="#deleteUser" data-arg-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <center>No users found</center>
}
<br />
@Html.Partial("Dialog", new DialogViewModel("deleteUser")
{
    Content = "Are you sure that you want to delete this user?",
    SubmitAction = "Delete",
    SubmitController = "Account"
})