@using LMS.Dto
@model IEnumerable<TestVariantDTO>
@{
    ViewData["Title"] = "List";

    string GetItemClass(TestVariantDTO item)
    {
        var anyLevelDeleted = item.Levels.Any(l => l.TemplateDeleted);
        var anyLevelModified = item.Levels.Any(l => l.TemplateModified);
        return anyLevelDeleted ? "alert alert-dark"
            : anyLevelModified ? "alert alert-warning"
            : "";
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TestTemplate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Levels)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@GetItemClass(item)">
                        <td>
                            <label>@(item.TestTemplate?.Title ?? "Deleted")</label>
                        </td>
                        <td>
                            <label>@item.Title</label>
                        </td>
                        <td>
                            <ol>
                                @foreach (var level in item.Levels)
                                {
                                    <li>
                                        @level.Tasks.Count
                                        tasks
                                    </li>
                                }
                            </ol>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a href="#" data-toggle="modal" data-target="#deleteModal" data-arg-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <center>No items found</center>
}

@Html.Partial("Dialog", new DialogViewModel("deleteModal")
{
    Content = "Are you sure that you want to delete this template?",
    SubmitAction = "Delete",
    SubmitController = "TestVariant"
})