@model LMS.Dto.TaskDTO

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Task</h4>
    <hr />
    <div class="col-md-6">
        <div class="row">
            <div class="details-block col-12 col-md-6">
                <label class="details-header" asp-for="Complexity"></label>
                <label>@Model.Complexity</label>
            </div>
            <div class="details-block col-12 col-md-6">
                <label class="details-header" asp-for="Type"></label>
                <label>@Model.Type.Title</label>
            </div>
        </div>
        <div class="details-block">
            <label class="details-header" asp-for="Category"></label>
            <label>@Model.Category.Title</label>
        </div>
        <div class="details-block">
            <label class="details-header" asp-for="Content"></label>
            <label>@Model.Content</label>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
